<!DOCTYPE html>
<html ng-app="app.main">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "TodoList", "Todo", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/MyClasses/person.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Templates/services/todoService.js"></script>
    <script src="~/Templates/services/modalService.js"></script>
    <script src="~/Templates/controller/todoController.js"></script>
    <script src="~/Templates/controller/todoModalController.js"></script>
    <script src="~/Templates/directives/controllerAsDirective.js"></script>
    <script src="~/Templates/directives/scopeDirective.js"></script>
    <script src="~/Templates/routeConfig.js"></script>
    <script src="~/Templates/mainApp.js"></script>
</body>
</html>