

<div class="row">
    <div class="col-md-6">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">NAME</span>
            <input type="text" ng-model="$ctrl.name" class="form-control" placeholder="Name">
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" >TEST</span>
            <input type="text" ng-model="$ctrl.test" class="form-control" placeholder="Test">
        </div>
    </div>
</div>

