@{
    Layout = null;
}
@* Modal Template *@
@* Controller: TodoModalCtrl as ctrl *@
<div class="modal-header">
    <div class="row">
        <div class="col-md-12" style="margin-top: 5px;">
            <strong>
              Person
            </strong>
        </div>
    </div>
</div>
<form name="ctrl.frm" ng-submit="ctrl.save()" novalidate>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': ctrl.frm.name.$invalid && ctrl.locals.wasSubmitted }">
                        <label class="col-md-3 control-label">
                            Name*
                        </label>
                        <div class="col-md-9">
                            <input ng-model="ctrl.locals.person.name" name="name" type="text" required maxlength="200" class="form-control input-sm" placeholder="Name eingeben"/>
                            <label class="control-label text-danger small" ng-if="ctrl.frm.name.$invalid && ctrl.locals.wasSubmitted">
                                Es muss ein Name eingeben werden.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': ctrl.frm.age.$invalid && ctrl.locals.wasSubmitted }">
                        <label class="col-md-3 control-label">
                            Alter*
                        </label>
                        <div class="col-md-9">
                            <input ng-model="ctrl.locals.person.age" name="age" type="text" required maxlength="2" class="form-control input-sm" placeholder="Alter eingeben"/>
                            <label class="control-label text-danger small" ng-if="ctrl.frm.age.$invalid && ctrl.locals.wasSubmitted">
                                Es muss ein Alter eingeben werden.
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="ctrl.locals.hasError">
            <div class="col-md-12  small">
                <div class="alert alert-danger" style="margin-bottom: 0" role="alert">
                    <strong ng-bind="ctrl.locals.errorMessage"></strong>
                </div>
            </div>
        </div>
        @*<pre>{{ctrl.viewModel | json}}</pre>*@
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-2">
                <a ng-if="!ctrl.locals.isSaving" ng-click="ctrl.cancel()" title="Abbrechen" href="" class="btn btn-default btn-block">
                    Abbrechen
                </a>
            </div>
            <div class="col-md-4 col-md-offset-6">
                <button type="submit" ng-if="!ctrl.locals.isSaving" ng-click="ctrl.save()" href="" class="btn btn-block btn-primary pull-right">
                    Speichern
                </button>
            </div>
        </div>
    </div>
</form>
